@tailwind base;
@tailwind components;
@tailwind utilities;

.conversation-area {
    height: calc(100vh - 46px - 52px);
    overflow: hidden;
    overflow-y: auto;
}
.conversation-area::-webkit-scrollbar{
    display: none;
}
.addCollabsList::-webkit-scrollbar, .collaborators::-webkit-scrollbar {
    background-color: transparent;  
    width: 0.6rem;
}
.addCollabsList::-webkit-scrollbar-thumb ,.collaborators::-webkit-scrollbar-thumb {
    background-color: rgb(113 113 122);
    border-radius: 0.25rem;
}
.conversation-area {
    scroll-behavior: smooth;
}